{% if latest_question_list %}
    <ol>
    {% for question in latest_question_list %}
      <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
      <li>"/polls/{{ question.id }}/"{{ question.question_text }}</li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<!-- 
polls/templates/polls/detail.html¶ -->
<h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
<h1>gits</h1>